<% if Devise.omniauth_providers.count > 0 %>
<div class="col-md-6 border-right">
  <ul class="list-inline">
    <% Devise.omniauth_providers.each do |provider| %>
      <li style="width:100%;"><%= login_with(provider.to_s) %></li>
    <% end %>
  </ul>
</div>

<hr class="hidden-lg hidden-md"/>

<div class="login-form col-md-6">
<% else %>

<div class="col-md-12 login-form" data-title="<%= t('devise.sessions.new.sign_in') %>">
<% end %>

<div class="col-md-6 modal-links">
  Use your CBCS email account only.
</div>
